.weak {
    position: absolute;
    top: -11px;
    right: 7px;
    color: red;
    font-size: 19px;
    font-weight: bold;
    z-index: 3;

}


.weak::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 31px;
    height: 31px;
    left: -5px;
    background-color: white;
    border-color: black;
    border-width: 0.125em;
    border-style: solid;
    border-radius: 4.5625em;
    margin: 0 auto;
    z-index: -1;
}

.info_tipo {
    border-radius: 0.625em;
    margin-bottom: 0.75em;
    padding: 0.62em;
    display: block;
    margin-left: auto;
    max-width: 120px;
    max-height: 100%;
}